In [2]:
import os
import pandas as pd
from tqdm import tqdm
import plotly.express as px
from scipy.optimize import least_squares
from lmfit.models import LorentzianModel, GaussianModel, LinearModel
from matplotlib import pyplot as plt
import numpy as np

In [13]:
def get_df_from_dir(directory = "colocated_data_cr_2"):
    files = os.listdir(directory)
    df_list = []
    for file in tqdm(files):
        df_list.append(pd.read_csv(directory + "/" + file))
    return pd.concat(df_list)

def get_heatmap(arg = "wind"):
    fig = px.density_heatmap(df, y="mss", x=arg, color_continuous_scale=px.colors.sequential.Blackbody)
    fig.update_layout(
        xaxis_title= r"$\text{" + arg + "}$",
        yaxis_title= r"$\text{MSS}$",
        legend_title="Legend Title",
        font=dict(
            size=16,
        )
    )
    fig.show()


df = get_df_from_dir("colocated_data_cr_2")

100%|██████████| 1580/1580 [00:31<00:00, 50.33it/s]

In [16]:
df.corr()

            mss       lat       lon      time     delta      wind
mss    1.000000  0.007276  0.026004  0.372990  0.604247  0.604804
lat    0.007276  1.000000  0.010952 -0.000127  0.019667 -0.002905
lon    0.026004  0.010952  1.000000 -0.001612  0.024325  0.025627
time   0.372990 -0.000127 -0.001612  1.000000  0.020361  0.020934
delta  0.604247  0.019667  0.024325  0.020361  1.000000  0.996639
wind   0.604804 -0.002905  0.025627  0.020934  0.996639  1.000000

In [15]:
df = df[df['mss'] < 0.07]
df = df[df['wind'] < 11]
df = df[df['wind'] > 3]
df = df.dropna()
df

           mss        lat         lon           time     delta      wind
0     0.036782  19.639912  134.658249  214323.708611  9.148530  9.089196
1     0.033957  19.615990  134.710129  214323.708889  9.141695  9.086881
2     0.039476  19.592030  134.761993  214323.709167  9.130130  9.081678
3     0.040275  19.568026  134.813828  214323.709444  9.133731  9.091732
4     0.034622  19.544006  134.865646  214323.709722  9.139729  9.104170
...        ...        ...         ...            ...       ...       ...
4944  0.020225  11.185954  132.792328  257032.193351  3.381367  3.504948
4945  0.021570  11.134051  132.864288  257032.193796  3.227782  3.359321
4946  0.021738  11.098987  132.912872  257032.194097  3.124084  3.262560
4947  0.020992  11.066603  132.957718  257032.194375  3.025078  3.170345
4948  0.021009  11.034214  133.002563  257032.194653  2.912561  3.066093

[6454334 rows x 6 columns]

In [10]:
get_heatmap()

In [ ]:
gauss_model(8)

In [ ]:
model = LorentzianModel()
y = df['mss'].to_numpy()
x = df['wind'].to_numpy()
params = model.guess(y, x=x)
result = model.fit(y, params, x=x)

In [ ]:
result.plot_fit()
plt.show()

print(result.fit_report())

In [ ]:
def gauss_model(x):
    amplitude = 0.56965907 
    sigma = 5.90326384 
    center = 11.3767419  
    frac_1 = amplitude/(sigma*np.sqrt(2*np.pi))
    frac_2 = np.exp((-(x-center)**2)/(2*sigma**2))
    return frac_1/frac_2

In [ ]:
print(result)