In [1]:
import os
import pandas as pd
from tqdm import tqdm
import plotly.express as px
from scipy.optimize import least_squares
from lmfit.models import LorentzianModel, GaussianModel, LinearModel
from matplotlib import pyplot as plt
import numpy as np
import lmfit
from lmfit import Model
from datetime import datetime, timedelta, date
import matplotlib as mpl

In [2]:
def get_df_from_dir(directory = "C:/Users/syversk/Desktop/cr1"):
    files = os.listdir(directory)
    df_list = []
    for file in tqdm(files):
        df_list.append(pd.read_csv(directory + "/" + file))
    return pd.concat(df_list)

df = pd.concat([get_df_from_dir("C:/Users/syversk/Desktop/cr1"), get_df_from_dir("C:/Users/syversk/Desktop/cr2")])

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1681/1681 [00:41<00:00, 40.72it/s]
100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 1681/1681 [00:41<00:00, 40.79it/s]

In [3]:
df

          mss        lat         lon           time  era_wind     delta  Var5
0     0.01121 -10.031106  117.423599  214327.976667    2.9050  3.225969   NaN
1     0.01175 -10.062616  117.468536  214327.976944    2.8754  3.191356   NaN
2     0.01348 -10.094160  117.513466  214327.977222    2.8403  3.149261   NaN
3     0.01536 -10.157214  117.603348  214327.977778    2.6982  2.988274   NaN
4     0.01693 -10.188741  117.648308  214327.978056    2.6278  2.908339   NaN
...       ...        ...         ...            ...       ...       ...   ...
4976  0.02106  10.124041  134.254318  257032.202431    2.6964  2.411915   NaN
4977  0.02152  10.091424  134.298889  257032.202708    2.7591  2.466599   NaN
4978  0.02160  10.060432  134.341232  257032.202972    2.8202  2.521333   NaN
4979  0.02216  10.027798  134.385788  257032.203250    2.8861  2.592107   NaN
4980  0.02286  10.011891  134.407516  257032.203385    2.9188  2.628929   NaN

[19387350 rows x 7 columns]

In [ ]:
def get_heatmap(df, arg = "era_wind"):
    fig = px.density_heatmap(df, y="mss", x=arg, color_continuous_scale=px.colors.sequential.Blackbody)
    fig.update_layout(
        xaxis_title= r"$\text{" + arg + "}$",
        yaxis_title= r"$\text{MSS}$",
        legend_title="Legend Title",
        font=dict(
            size=16,
        )
    )
    fig.show()
df_mini = df[df['era_wind'] < 15]
df_mini = df_mini[df_mini['mss'] < 0.05].iloc[:50000]
get_heatmap(df_mini,"era_wind")

In [4]:
df = df.drop(['Var5'], axis=1)
df

          mss        lat         lon           time  era_wind     delta
0     0.01121 -10.031106  117.423599  214327.976667    2.9050  3.225969
1     0.01175 -10.062616  117.468536  214327.976944    2.8754  3.191356
2     0.01348 -10.094160  117.513466  214327.977222    2.8403  3.149261
3     0.01536 -10.157214  117.603348  214327.977778    2.6982  2.988274
4     0.01693 -10.188741  117.648308  214327.978056    2.6278  2.908339
...       ...        ...         ...            ...       ...       ...
4976  0.02106  10.124041  134.254318  257032.202431    2.6964  2.411915
4977  0.02152  10.091424  134.298889  257032.202708    2.7591  2.466599
4978  0.02160  10.060432  134.341232  257032.202972    2.8202  2.521333
4979  0.02216  10.027798  134.385788  257032.203250    2.8861  2.592107
4980  0.02286  10.011891  134.407516  257032.203385    2.9188  2.628929

[19387350 rows x 6 columns]

In [ ]:
df = df[df['mss'] < 0.1]
df = df[df['era_wind'] < 11]
df = df[df['era_wind'] > 3]
df = df.dropna()
df

In [ ]:
gauss_model(2)

In [5]:
df.corr()

               mss       lat       lon      time  era_wind     delta
mss       1.000000 -0.045345 -0.070847  0.324820  0.511999  0.449071
lat      -0.045345  1.000000  0.930282  0.022324  0.010311  0.002273
lon      -0.070847  0.930282  1.000000  0.022166 -0.004620 -0.012787
time      0.324820  0.022324  0.022166  1.000000 -0.010366 -0.004500
era_wind  0.511999  0.010311 -0.004620 -0.010366  1.000000  0.879956
delta     0.449071  0.002273 -0.012787 -0.004500  0.879956  1.000000

In [ ]:
class KatzbergModel(Model):
    def __init__(self, *args, **kwargs):
        def katzberg(x, c_1, c_2, c_3, c_4, c_5):
            output = []
            for i in range(len(x)):
                if x[i] <= 3.49:
                    output.append(c_1*(c_2*x[i] + c_3))
                else:
                    output.append(c_1*(c_4*np.log(x[i]) + c_5))
            return np.array(output)
                    
        super(KatzbergModel, self).__init__(katzberg, *args, **kwargs)

    def guess(self, data, **kwargs):
        params = self.make_params()
        def pset(param, value):
            params["%s%s" % (self.prefix, param)].set(value=value)
        pset("c_1", 0.0035)
        pset("c_2", 1)
        pset("c_3", 0.62)
        pset("c_4", 6)
        pset("c_5", -3.39)
        return lmfit.models.update_param_vals(params, self.prefix, **kwargs)

In [ ]:
#model = KatzbergModel()
model = GaussianModel()
y = df['mss'].to_numpy()
x = df['era_wind'].to_numpy()
params = model.guess(y, x=x)
result = model.fit(y, params, x=x)

In [ ]:
x_2 = x = df['delta'].to_numpy()
params = model.guess(y, x=x2)
result_delta = model.fit(y, params, x=x2)

In [ ]:
mpl.rcParams['agg.path.chunksize'] = 10000
result.plot_fit()
plt.show()
print(result.fit_report())

In [ ]:
def gauss_model(x):
    amplitude = 3.82480810  
    center = -513.750847  
    sigma = 39.3214505
    frac_1 = amplitude/(sigma*np.sqrt(2*np.pi))
    frac_2 = np.exp((-(x-center)**2)/(2*sigma**2))
    return frac_1*frac_2

In [ ]:
print(result)

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [24]:
X_train, X_test, Y_train, Y_test = train_test_split (df.era_wind.to_numpy().reshape(-1, 1), df.mss, test_size = 0.001, random_state=42)

In [25]:
pipelines = []
pipelines.append(('ScaledLR', Pipeline([('Scaler', StandardScaler()),('LR',LinearRegression())])))
pipelines.append(('ScaledLASSO', Pipeline([('Scaler', StandardScaler()),('LASSO', Lasso())])))
pipelines.append(('ScaledEN', Pipeline([('Scaler', StandardScaler()),('EN', ElasticNet())])))
pipelines.append(('ScaledKNN', Pipeline([('Scaler', StandardScaler()),('KNN', KNeighborsRegressor())])))
pipelines.append(('ScaledCART', Pipeline([('Scaler', StandardScaler()),('CART', DecisionTreeRegressor())])))
pipelines.append(('ScaledGBM', Pipeline([('Scaler', StandardScaler()),('GBM', GradientBoostingRegressor())])))

results = []
names = []
for name, model in pipelines:
    kfold = KFold(n_splits=2, random_state=19, shuffle=True)
    cv_results = cross_val_score(model, X_train, Y_train, cv=kfold, scoring='neg_mean_squared_error')
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

ScaledLR: -0.000198 (0.000000)
ScaledLASSO: -0.000268 (0.000000)
ScaledEN: -0.000268 (0.000000)
ScaledKNN: -0.000190 (0.000000)
ScaledCART: -0.000164 (0.000000)
ScaledGBM: -0.000158 (0.000000)

In [26]:
from sklearn.model_selection import GridSearchCV
import joblib

scaler = StandardScaler()
rescaledX = scaler.fit_transform(X_train)
joblib.dump(scaler, 'std_scaler.bin', compress=True)

param_grid = dict(n_estimators=np.array([50,100,200,300,400]))
model = GradientBoostingRegressor(random_state=21)
kfold = KFold(n_splits=2, random_state=21, shuffle = True)
grid = GridSearchCV(estimator=model, param_grid=param_grid, scoring='neg_mean_squared_error', cv=kfold)
grid_result = grid.fit(rescaledX, Y_train)

means = grid_result.cv_results_['mean_test_score']
stds = grid_result.cv_results_['std_test_score']
params = grid_result.cv_results_['params']
for mean, stdev, param in zip(means, stds, params):
    print("%f (%f) with: %r" % (mean, stdev, param))

print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))

-0.000158 (0.000000) with: {'n_estimators': 50}
-0.000158 (0.000000) with: {'n_estimators': 100}
-0.000158 (0.000000) with: {'n_estimators': 200}
-0.000158 (0.000000) with: {'n_estimators': 300}
-0.000158 (0.000000) with: {'n_estimators': 400}
Best: -0.000158 using {'n_estimators': 100}

In [27]:
from sklearn.metrics import mean_squared_error

model = GradientBoostingRegressor(random_state=18, n_estimators=50)
model.fit(rescaledX, Y_train)
# transform the validation dataset
rescaled_X_test = scaler.transform(X_test)
predictions = model.predict(rescaled_X_test)
print (mean_squared_error(Y_test, predictions))

0.0001540619155925421

In [28]:
file = "model.pkl"
joblib.dump(model, file)

['model.pkl']

In [22]:
model = joblib.load("model.pkl")
scaler=joblib.load('std_scaler.bin')
# transform the validation dataset
print(X_test.shape)
rescaled_X_test = scaler.transform(X_test)
predictions = model.predict(rescaled_X_test)
print (mean_squared_error(Y_test, predictions))

(10000, 1)
4.1954435586340155e-05